workflows/My workflow (7).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e3551d7a-bb62-4081-952c-cd2034d3aefa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "C:\\\\Users\\\\adity/.n8n-files/input/*.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "695ee7f7-1b40-4f7c-b3b5-a7a00b3b2603",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyB7itT94zD7d5-qbElqCQaWPsTxoqn3BD4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [\n    {\n      parts: [\n        {\n          text:\n            \"You are an AI system that extracts structured operational configuration from service business call transcripts.\\n\\n\" +\n\n            \"Return ONLY valid JSON. Do NOT include explanations or markdown.\\n\\n\" +\n\n            \"The JSON must strictly follow this schema:\\n\\n\" +\n\n            \"{\\n\" +\n            \"  \\\"account_id\\\": \\\"ACC001\\\",\\n\" +\n            \"  \\\"company_name\\\": \\\"string or null\\\",\\n\" +\n            \"  \\\"business_hours\\\": {\\n\" +\n            \"     \\\"days\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"start\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"end\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"timezone\\\": \\\"string or null\\\"\\n\" +\n            \"  },\\n\" +\n            \"  \\\"office_address\\\": \\\"string or null\\\",\\n\" +\n            \"  \\\"services_supported\\\": [\\\"string\\\"],\\n\" +\n            \"  \\\"emergency_definition\\\": [\\\"string\\\"],\\n\" +\n            \"  \\\"emergency_routing_rules\\\": {\\n\" +\n            \"     \\\"primary_contact\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"order\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"fallback\\\": \\\"string or null\\\"\\n\" +\n            \"  },\\n\" +\n            \"  \\\"non_emergency_routing_rules\\\": \\\"string or null\\\",\\n\" +\n            \"  \\\"call_transfer_rules\\\": {\\n\" +\n            \"     \\\"timeout\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"retries\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"failure_message\\\": \\\"string or null\\\"\\n\" +\n            \"  },\\n\" +\n            \"  \\\"integration_constraints\\\": \\\"string or null\\\",\\n\" +\n            \"  \\\"after_hours_flow_summary\\\": \\\"string or null\\\",\\n\" +\n            \"  \\\"office_hours_flow_summary\\\": \\\"string or null\\\",\\n\" +\n            \"  \\\"questions_or_unknowns\\\": [\\\"string\\\"],\\n\" +\n            \"  \\\"notes\\\": \\\"short string\\\"\\n\" +\n            \"}\\n\\n\" +\n\n            \"Rules:\\n\" +\n            \"1. The account_id must ALWAYS be 'ACC001'.\\n\" +\n            \"2. Do NOT hallucinate missing information.\\n\" +\n            \"3. If information is missing, set the value to null.\\n\" +\n            \"4. Add missing information descriptions to questions_or_unknowns.\\n\" +\n            \"5. services_supported and emergency_definition must always be arrays.\\n\" +\n            \"6. Always return valid JSON only.\\n\\n\" +\n\n            \"Transcript:\\n\" + $json.data\n        }\n      ]\n    }\n  ]\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        -96
      ],
      "id": "1eb2f0f0-66b2-4d84-9797-62dddaffaf85",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        432,
        -352
      ],
      "id": "e567c174-2842-4277-a9f1-1a5f15712877",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.candidates[0].content.parts[0].text;\n\n// sometimes Gemini wraps JSON in ```json ``` blocks\nconst cleaned = raw.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\nreturn [\n  {\n    json: JSON.parse(cleaned)\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -32
      ],
      "id": "8ad99d8d-213e-4819-b6d4-ceceb29bb18c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\\\Users\\\\adity/.n8n-files/output/accounts/v1/memo.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1488,
        -16
      ],
      "id": "1bf4a435-e61f-443f-af95-842ede9ba4de",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1168,
        -64
      ],
      "id": "ddbdd757-9edd-484b-8e0d-3f75cb651462",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1696,
        -16
      ],
      "id": "2e8bc468-ee19-4fe9-8cb4-758ad5674863",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyB7itT94zD7d5-qbElqCQaWPsTxoqn3BD4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [\n    {\n      parts: [\n        {\n          text:\n            \"You are generating a Retell voice agent configuration.\\n\\n\" +\n\n            \"Using the provided Account Memo JSON, generate a Retell Agent Draft Specification.\\n\\n\" +\n\n            \"Return ONLY valid JSON using the following schema:\\n\\n\" +\n\n            \"{\\n\" +\n            \"  \\\"agent_name\\\": \\\"string\\\",\\n\" +\n            \"  \\\"voice_style\\\": \\\"string\\\",\\n\" +\n            \"  \\\"system_prompt\\\": \\\"string\\\",\\n\" +\n            \"  \\\"key_variables\\\": {\\n\" +\n            \"     \\\"timezone\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"business_hours\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"office_address\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"emergency_routing\\\": \\\"string or null\\\"\\n\" +\n            \"  },\\n\" +\n            \"  \\\"tool_invocation_placeholders\\\": [\\\"string\\\"],\\n\" +\n            \"  \\\"call_transfer_protocol\\\": \\\"string\\\",\\n\" +\n            \"  \\\"fallback_protocol\\\": \\\"string\\\",\\n\" +\n            \"  \\\"version\\\": \\\"v1\\\"\\n\" +\n            \"}\\n\\n\" +\n\n            \"Rules:\\n\" +\n            \"1. The system_prompt must include conversation instructions for the voice agent.\\n\" +\n            \"2. Include business-hours call handling.\\n\" +\n            \"3. Include after-hours emergency handling.\\n\" +\n            \"4. Do NOT mention tools to the caller.\\n\" +\n            \"5. Use the account memo information when available.\\n\\n\" +\n\n            \"Account Memo:\\n\" + JSON.stringify($json)\n        }\n      ]\n    }\n  ]\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1904,
        -16
      ],
      "id": "cee7a776-d90f-4e1b-b706-c979af40b180",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.candidates[0].content.parts[0].text;\n\n// remove markdown blocks if Gemini added them\nconst cleaned = raw\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// convert string → JSON\nconst agentSpec = JSON.parse(cleaned);\n\n// ensure version exists\nif (!agentSpec.version) {\n  agentSpec.version = \"v1\";\n}\n\nreturn [\n  {\n    json: agentSpec\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        -16
      ],
      "id": "ba2be0e0-0121-4b18-ad51-9bf81d1e3de5",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2320,
        -16
      ],
      "id": "4ecfbcf2-f8cd-4a38-8699-1b70186bc51a",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\\\Users\\\\adity/.n8n-files/output/accounts/v1/agent_spec.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2528,
        -16
      ],
      "id": "8dab2f6d-1009-4232-a67f-8677c9499e90",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "fileSelector": "C:\\\\Users\\\\adity/.n8n-files/input/onboarding.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2736,
        -16
      ],
      "id": "5d5a5278-c99c-47c4-8284-6dd493b41057",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2640,
        368
      ],
      "id": "eacaa7d4-4482-47e8-b8b5-6870ce5f5c69",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyB7itT94zD7d5-qbElqCQaWPsTxoqn3BD4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [\n    {\n      parts: [\n        {\n          text:\n            \"You are an AI system that extracts structured operational configuration for a service business AI receptionist.\\n\\n\" +\n\n            \"You will receive TWO transcripts:\\n\" +\n            \"1) Demo transcript\\n\" +\n            \"2) Onboarding transcript\\n\\n\" +\n\n            \"Task:\\n\" +\n            \"- Extract initial business information from the demo transcript.\\n\" +\n            \"- Use the onboarding transcript to fill any missing fields.\\n\" +\n            \"- The onboarding transcript contains the final confirmed configuration.\\n\\n\" +\n\n            \"Return ONLY valid JSON.\\n\\n\" +\n\n            \"JSON schema:\\n\\n\" +\n\n            \"{\\n\" +\n            \"  \\\"account_id\\\": \\\"ACC001\\\",\\n\" +\n            \"  \\\"company_name\\\": \\\"string or null\\\",\\n\" +\n            \"  \\\"business_hours\\\": {\\n\" +\n            \"     \\\"days\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"start\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"end\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"timezone\\\": \\\"string or null\\\"\\n\" +\n            \"  },\\n\" +\n            \"  \\\"office_address\\\": \\\"string or null\\\",\\n\" +\n            \"  \\\"services_supported\\\": [\\\"string\\\"],\\n\" +\n            \"  \\\"emergency_definition\\\": [\\\"string\\\"],\\n\" +\n            \"  \\\"emergency_routing_rules\\\": {\\n\" +\n            \"     \\\"primary_contact\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"order\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"fallback\\\": \\\"string or null\\\"\\n\" +\n            \"  },\\n\" +\n            \"  \\\"non_emergency_routing_rules\\\": \\\"string or null\\\",\\n\" +\n            \"  \\\"call_transfer_rules\\\": {\\n\" +\n            \"     \\\"timeout\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"retries\\\": \\\"string or null\\\",\\n\" +\n            \"     \\\"failure_message\\\": \\\"string or null\\\"\\n\" +\n            \"  },\\n\" +\n            \"  \\\"integration_constraints\\\": \\\"string or null\\\",\\n\" +\n            \"  \\\"after_hours_flow_summary\\\": \\\"string or null\\\",\\n\" +\n            \"  \\\"office_hours_flow_summary\\\": \\\"string or null\\\",\\n\" +\n            \"  \\\"questions_or_unknowns\\\": [\\\"string\\\"],\\n\" +\n            \"  \\\"notes\\\": \\\"short string\\\"\\n\" +\n            \"}\\n\\n\" +\n\n            \"Rules:\\n\" +\n            \"- The account_id must ALWAYS be 'ACC001'.\\n\" +\n            \"- Do NOT hallucinate information.\\n\" +\n            \"- If information is missing even after onboarding, set it to null.\\n\" +\n            \"- services_supported and emergency_definition must always be arrays.\\n\" +\n            \"- Prefer onboarding transcript values if they conflict with demo transcript.\\n\" +\n            \"- Return valid JSON only.\\n\\n\" +\n\n            \"Transcripts:\\n\\n\" +\n\n            JSON.stringify($input.all().map(i => i.json.data))\n        }\n      ]\n    }\n  ]\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2848,
        368
      ],
      "id": "6d402316-fdc3-4a74-91d1-5a854af53a84",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet memo = null;\nlet onboarding = null;\n\n// Loop through Gemini responses\nfor (const item of items) {\n\n  const raw = item.json.candidates[0].content.parts[0].text;\n\n  // Remove ```json blocks if Gemini added them\n  const cleaned = raw\n    .replace(/```json/g, \"\")\n    .replace(/```/g, \"\")\n    .trim();\n\n  const parsed = JSON.parse(cleaned);\n\n  // Detect which file it came from\n  if (!memo) {\n    memo = parsed;\n  } else {\n    onboarding = parsed;\n  }\n}\n\n\n// ---- MERGE LOGIC ----\n\n// business hours\nif (memo.business_hours.days === null && onboarding.business_hours?.days) {\n  memo.business_hours = onboarding.business_hours;\n}\n\n// office address\nif (!memo.office_address && onboarding.office_address) {\n  memo.office_address = onboarding.office_address;\n}\n\n// emergency routing\nif (memo.emergency_routing_rules.fallback === null && onboarding.emergency_routing_rules?.fallback) {\n  memo.emergency_routing_rules = onboarding.emergency_routing_rules;\n}\n\n// call transfer rules\nif (memo.call_transfer_rules.timeout === null && onboarding.call_transfer_rules?.timeout) {\n  memo.call_transfer_rules = onboarding.call_transfer_rules;\n}\n\n// integration\nif (!memo.integration_constraints && onboarding.integration_constraints) {\n  memo.integration_constraints = onboarding.integration_constraints;\n}\n\n\n// return merged memo\nreturn [\n  {\n    json: memo\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        368
      ],
      "id": "b5cd642e-a308-476e-a729-0014c84cfd73",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3264,
        368
      ],
      "id": "d57d15d3-51ab-45ff-b535-a22f62b96506",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\\\Users\\\\adity/.n8n-files/output/accounts/v2/memo.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        3632,
        384
      ],
      "id": "5a740372-6e71-4a4f-9e6f-cfb23f7f766c",
      "name": "Read/Write Files from Disk4"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        3840,
        384
      ],
      "id": "10695c2e-1d74-4ced-b673-62527acb1cac",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyB7itT94zD7d5-qbElqCQaWPsTxoqn3BD4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [\n    {\n      parts: [\n        {\n          text:\n            \"You are an AI system that generates a Retell voice agent configuration for a service business AI receptionist.\\n\\n\" +\n\n            \"Input:\\n\" +\n            \"You will receive a structured Account Memo JSON describing the business operations.\\n\\n\" +\n\n            \"Task:\\n\" +\n            \"Convert the memo into a Retell agent specification configuration.\\n\\n\" +\n\n            \"Return ONLY valid JSON.\\n\\n\" +\n\n            \"The output must follow this schema:\\n\\n\" +\n\n            \"{\\n\" +\n            \"  \\\"agent_name\\\": \\\"string\\\",\\n\" +\n            \"  \\\"voice_style\\\": \\\"string\\\",\\n\" +\n            \"  \\\"system_prompt\\\": \\\"string\\\",\\n\" +\n            \"  \\\"key_variables\\\": {\\n\" +\n            \"     \\\"timezone\\\": \\\"string\\\",\\n\" +\n            \"     \\\"business_hours\\\": \\\"string\\\",\\n\" +\n            \"     \\\"office_address\\\": \\\"string\\\",\\n\" +\n            \"     \\\"emergency_routing\\\": \\\"string\\\"\\n\" +\n            \"  },\\n\" +\n            \"  \\\"tool_invocation_placeholders\\\": [\\\"string\\\"],\\n\" +\n            \"  \\\"call_transfer_protocol\\\": \\\"string\\\",\\n\" +\n            \"  \\\"fallback_protocol\\\": \\\"string\\\",\\n\" +\n            \"  \\\"version\\\": \\\"v2\\\"\\n\" +\n            \"}\\n\\n\" +\n\n            \"Rules:\\n\" +\n            \"- Do not invent information not present in the memo.\\n\" +\n            \"- The agent must behave like a professional AI receptionist.\\n\" +\n            \"- Do NOT mention internal tools to callers.\\n\" +\n            \"- Emergency calls must follow the emergency routing rules.\\n\" +\n            \"- Non-emergency calls should collect caller details and schedule jobs.\\n\" +\n            \"- Respect service restrictions (for example generator installations).\\n\" +\n            \"- Return JSON only.\\n\\n\" +\n\n            \"Account Memo:\\n\\n\" +\n            JSON.stringify($json)\n        }\n      ]\n    }\n  ]\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4048,
        384
      ],
      "id": "e08bf7be-e481-48ab-9100-98b685fede10",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.candidates[0].content.parts[0].text;\n\n// Sometimes Gemini wraps JSON inside ```json ``` blocks\nconst cleaned = raw\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// Convert string → JSON object\nconst parsed = JSON.parse(cleaned);\n\n// Return clean JSON\nreturn [\n  {\n    json: parsed\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4256,
        384
      ],
      "id": "c3202436-e97a-49ff-8a05-82d690782ed7",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\\\Users\\\\adity/.n8n-files/output/accounts/v2/agent_spec.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        4608,
        720
      ],
      "id": "6cd9037b-a883-40f8-a210-96d57eeed56a",
      "name": "Read/Write Files from Disk5"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4176,
        784
      ],
      "id": "92ca9dd1-d57f-4b1a-955c-f60cf974bc37",
      "name": "Convert to File3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk4": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0bb7577b-d024-4f26-9425-06966332eb72",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aedf6cf956c29b16f5247485231eb513c3b4619e7e19ee7f1366e7ca0d0ff790"
  },
  "id": "DIFquwoJ4kRavOVV",
  "tags": []
}
